<div id="<?$_name?>" style="border:1px solid black;">
		<div id="point_table">
			<h3><?block_title?>Weightage Factors<?/block_title?></h3>
			<table class="ui-widget" width="100%" height='100%'>
				<tr style="height:25px">
					<th class='ui-widget-content'>Closing age factor </th><td class='ui-widget-content'><?closing_age_fact?>oops<?/closing_age_fact?></td>
				</tr>
				<tr style="height:25px">
					<th class='ui-widget-content'>Total Direct Sales Factor</th><td class='ui-widget-content'> x <?total_direct_sales_factor?>oops<?/total_direct_sales_factor?></td>
				</tr>
				<tr style="height:25px">
					<th class='ui-widget-content'>Closing Direct Sales Factor</th><td class='ui-widget-content'> x <?closing_direct_sales_factor?>oops<?/closing_direct_sales_factor?></td>
				</tr>
				<tr style="height:25px">
					<th class='ui-widget-content'>Closing Down Line New Agents Factor</th><td class='ui-widget-content'> x <?closing_downline_new_agents_factor?>oops<?/closing_downline_new_agents_factor?></td>
				</tr>
				<tr style="height:25px">
					<th class='ui-widget-content'>Total Self Repurchase Factor</th><td class='ui-widget-content'> x <?total_self_repurchase_factor?>oops<?/total_self_repurchase_factor?></td>
				</tr>
				<tr style="height:25px">
					<th class='ui-widget-content'>Total Points</th><th class='ui-widget-content'><?my_total_points?>oops<?/my_total_points?></th>
				</tr>

			</table>
		</div>
	</div>